<ul>
  <li><strong>Name:</strong> <%= event.name %></li>
  <li><strong>Location:</strong> <%= event.location %></li>
  <li><strong>Time:</strong> <%= event.time %></li>
  <li class="creator"><strong>Creator:</strong> <%= event.creator.username %></li>  
</ul>
